<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title></title>
</head>
<body>
<div class="navbar-fixed-bottom row-fluid">
    <div class="navbar-inner" th:fragment="footer"
         style="background: #c9e2b3; color: #337ab7; box-sizing: border-box; padding: 15px; width: 100%;">
        <div class="container">
            <footer>
            <span sec:authorize="isAuthenticated()" style="font-size: 16px; color: #337ab7">
                 Logged user: <span sec:authentication="name"></span>
                <a th:href="@{/logout}">Sign Out</a>
            </span>

                <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
