<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Smart Money</title>
<meta th:http-equiv="Content-Type" >
    <div th:replace="fragments/head :: head"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h3>Додати запис витрат:</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/journals/add_journal1}" object="${journal}" method="post">
                    <div class="row">
                        <div class="input-group mb-6">
                            <div class="input-group-prepend" >
                                <label class="input-group-text" for="inputGroupSelect01">Категорія витрат</label>
                            </div>
                            <select id="inputGroupSelect01" class="custom-select" >
                                <option selected>Виберіть...</option>
                                <option value="1">Найнеобхідніше</option>
                                <option value="2">Освіта</option>
                                <option value="4">Запаси</option>
                                <option value="5">Розваги</option>
                                <option value="6">Подарунки</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>