<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Smart Money</title>

    <div th:replace="fragments/head :: head"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div sec:authorize access="!isAuthenticated()">
        <h4><a th:href="/login">Увійти</a></h4>
        <h4><a th:href="/registration">Зареєструватись</a></h4>
    </div>

    <div sec:authorize access="isAuthenticated()">
        <h4><a href="/logout">Вийти</a></h4>
    </div>
    <div class="starter-template">
        <h4><a th:href="@{/about}">Робоча сторінка (тільки користувач)</a></h4>
        <h4><a th:href="@{/admin}">Користувачі (тільки адмін)</a></h4>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>