<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
<!--                <form method="POST" action="/login">-->
<!--                    <h2>Вход в систему</h2>-->
<!--                    <div>-->
<!--                        <label>-->
<!--                            <input name="username" type="text" placeholder="Username" autofocus />-->
<!--                        </label>-->
<!--                        <label>-->
<!--                            <input name="password" type="password" placeholder="Password"/>-->
<!--                        </label>-->
<!--                        <button type="submit">Log In</button>-->
<!--                        <h4><a href="/registration">Зарегистрироваться</a></h4>-->
<!--                    </div>-->
<!--                </form>-->
                <div class="col-12 user-img">
                    <img src="/static/img/user.png" th:src="@{/img/user.png}" width="256" height="256" alt="user"/>
                </div>
                <form class="col-12" th:action="@{/login}" method="post">
                    <div class="form-group" id="user-group">
                        <label>
                            <input class="form-control" name="username" placeholder="Username" type="text" />
                        </label>
                    </div>
                    <div class="form-group" id="password-group">
                        <label>
                            <input class="form-control" name="password" placeholder="Password" type="password"/>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" ><i class="fas fa-sign-in-alt"></i> Log in</button>
                </form>
                <div class="col-12 forgot">
                    <a href="#" th:href="@{/registration}">Remember password?</a>
                </div>
                <div class="alert alert-danger" role="alert" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="alert alert-success" role="alert" th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
