<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>User page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>
    <div th:switch="${users}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td><a th:href="@{/edit/{id}(id=${user.user_id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${user.user_id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/signup}">Add a new user</a></p>
    </div>

</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>